.attribution {
	margin-top: 10rem;
	color: $softBlue;
	font-size: 1.5rem;

	i {
		color: rgba(255, 7, 58, 0.7);
		margin: 0 0.5rem;
		animation: infinite heartPounding ease-in-out 1s;
	}

	a {
		text-decoration: none;
		color: #fff;
		font-weight: 600;
		margin-left: 0.5rem;
		transition: all 0.3s;

		&:hover {
			color: $cyan;
		}
	}
}

@keyframes heartPounding {
	25% {
		transform: scale(1.2);
	}
	75% {
		transform: scale(0.8);
	}
}
